#body {
    padding-top: 10px;
}

.navbar {
    background-color: white;
    border: 0;
    margin-bottom: 20px;
}

.navbar .container {
   background-color: #00008a;
   background-image: linear-gradient(top, #00008a, #00006b);
}

.navbar .navbar-brand {
    color: white;
}

.navbar .navbar-brand:hover {
    color: white;
}

.btn {
    background-color: white;
}

.icon-white {
    color: white;
}
